#!/bin/bash

{#
#
# Copyright (C) 2024 HDLconv Project
#
# SPDX-License-Identifier: GPL-3.0-or-later
#
-#}

{% include 'docker.jinja' %}

$DOCKER yosys -Q -m slang -p '
read_slang {{ files | join(' ') }} {% if includes %}{% for path in includes %} -I{{ path }}{% endfor %}{% endif %}{% if defines %}{% for key, value in defines.items() %} -D {{ key }}={{ value }}{% endfor %}{% endif %}{% if params %}{% for key, value in params.items() %} -G {{ key }}={{ value }}{% endfor %}{% endif %} -top {{ top }}
write_verilog -noattr {{ output }}
'
