#!/bin/bash

{#
#
# Copyright (C) 2024 HDLconv Project
#
# SPDX-License-Identifier: GPL-3.0-or-later
#
-#}

{% include 'docker.jinja' %}

$DOCKER synlig -Q -p '
{% if defines %}verilog_defines{% for key, value in defines.items() %} -D{{ key }}={{ value }}{% endfor %}{% endif %}
read_systemverilog -defer {% if includes %}{% for path in includes %} -I{{ path }}{% endfor %}{% endif %} {% if params %}{% for key, value in params.items() %} -P{{ key }}={{ value }}{% endfor %}{% endif %} {{ files | join(' ') }}
read_systemverilog -link
hierarchy -top {{ top }}
write_verilog -noattr {{ output }}
'
