#!/bin/bash

set -e

DOCKER="docker run --user $(id -u):$(id -g) --rm -v $HOME:$HOME -w $PWD"

$DOCKER ghcr.io/pyfpga/synthesis /bin/bash -c "
{% set gflags = '--std=08 -fsynopsys -fexplicit -frelaxed' %}
{% if files %}
{% for name, lib in files.items() %}
ghdl -a {{ gflags }}{% if 'lib' %}--work={{ lib }}{% endif %} {{ name }}
{% endfor %}
{% endif %}

yosys -Q -m ghdl -p '
ghdl $FLAGS {{ generics }} {{ top }} {{ arch }}
ghdl {{ gflags }}{% for key, value in params.items() %} -g{{ key }}={{ value }}{% endfor %} {{ top }} {{ arch }}
hierarchy -top {{ top }}
write_verilog -noattr {{ output }}
'
"
